@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf"); }

.footerLogo {
  height: 80px;
  width: 90px; }

.bg-info {
  background: #00a8cc !important; }

.bg-primary {
  background: #00a8cc !important; }

.text-muted {
  color: #faf9f9 !important; }

.footerNombre {
  color: #faf9f9;
  font-family: "Open Sans";
  font-size: 18px;
  margin: 10px 10px 10px 0px; }

.footerTitulo {
  color: #faf9f9;
  font-family: "Open Sans";
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal; }

.copy {
  color: #faf9f9;
  font-family: "Open Sans";
  font-size: 14px;
  opacity: 0.7; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 1.1rem; }

main {
  background-color: #faf9f9; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #faf9f9; }

a:hover {
  color: #faf9f9;
  font-weight: bold; }

h2 {
  font-family: "Open Sans";
  font-size: 1, 5rem;
  color: #00a8cc;
  font-weight: bold;
  text-align: center;
  font-style: italic; }

h2.white {
  color: #faf9f9; }

p {
  font-size: 20px;
  color: #6e6e6e;
  margin: 20px 80px 20px 80px;
  text-align: center; }

form label {
  display: block;
  padding: 10px 10px 10px 0px; }

div.form-group {
  margin: 0px 0px 0px 0px; }

#button {
  display: inline; }

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic; }

section {
  padding-top: 80px; }

#productos {
  background-image: linear-gradient(rgba(0, 168, 204, 0.7), rgba(88, 214, 255, 0.7));
  background-size: cover; }

.nosotrosIcon {
  font-size: 80px;
  color: #00a8cc; }

.section__galeriaproductos {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .section__galeriaproductos .imgProductos {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .section__galeriaproductos .galeriaImg:nth-child(3) {
    grid-row-start: span 2; }
  .section__galeriaproductos .galeriaImg:nth-child(6) {
    grid-column-start: span 2; }
  .section__galeriaproductos .galeriaImg:nth-child(9) {
    grid-column-start: span 2; }
  .section__galeriaproductos .galeriaImg:nth-child(10) {
    grid-row-start: span 2; }
  .section__galeriaproductos .galeriaImg:nth-child(12) {
    grid-column-start: span 2; }

@media (min-width: 768px) {
  .section__galeriaproductos {
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 150px 10px 150px; }
    .section__galeriaproductos .galeriaImg:nth-child(3) {
      grid-column-start: span 2; }
    .section__galeriaproductos .galeriaImg:nth-child(6) {
      grid-column-start: span 3; }
    .section__galeriaproductos .galeriaImg:nth-child(8) {
      grid-column-start: span 2; }
    .section__galeriaproductos .galeriaImg:nth-child(10) {
      grid-row-start: span 2; }
    .section__galeriaproductos .galeriaImg:nth-child(11) {
      grid-column-start: span 1; }
    .section__galeriaproductos .galeriaImg:nth-child(12) {
      grid-column-start: span 2; } }

.btn-info {
  background-color: #00a8cc;
  border-color: #00a8cc;
  color: #faf9f9;
  margin: 20px 0px 20px 10px; }

.btn-info:hover {
  background-color: #58d6ff;
  border-color: #58d6ff;
  color: #faf9f9; }

.custom-switch {
  margin-top: 20px; }

.custom-control-label {
  padding: 0px; }

.modal-title {
  font-family: "Open Sans";
  color: black; }

.modal-body {
  font-family: "Open Sans";
  color: black; }

.price {
  font-size: 1.75rem;
  padding: 0px !important;
  margin: 0px !important; }

.card {
  color: #00a8cc; }

.card.body {
  margin: 0px;
  padding: 0px; }

header .header__logo {
  height: 40px; }

@media (max-width: 340px) {
  header .header__logo {
    height: 30px; } }

header .header__nombre {
  color: #faf9f9;
  font-family: "Open Sans";
  font-size: 18px;
  margin: 10px 10px 10px 10px; }

@media (max-width: 340px) {
  header .header__nombre {
    height: 30px;
    font-size: 1rem;
    margin: 0px;
    padding: 5px; } }

header #portada {
  width: 100%;
  height: auto; }

header .navbar-brand {
  display: flex;
  justify-items: flex-start;
  margin: 0px; }

header .logoRedes {
  width: 25px;
  height: 25px; }

header .redes {
  font-size: 20px;
  padding-top: 4px;
  margin-left: -15px; }

header .navbar {
  background: linear-gradient(60deg, #142850 10%, #00a8cc 80%);
  background: -webkit-linear-gradient(60deg, #142850 10%, #00a8cc 80%);
  background: -moz-linear-gradient(60deg, #142850 10%, #00a8cc 80%); }

header .nav-link {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 11px;
  margin-left: 11px;
  transition: transform .1s; }

header .nav-link:hover {
  transform: scale(1.2); }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #faf9f9; }

.navbar .navbar-collapse {
  text-align: center; }

.bg-dark {
  background: transparent !important;
  transition: 0.75s ease; }

.bg-dark.scrolled {
  background: rgba(0, 168, 204, 0.8) !important; }

@media (max-width: 991px) {
  .bg-dark {
    background: #00a8cc !important; }
  .bg-dark.scrolled {
    background: #00a8cc !important; } }

.presentacion {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  white-space: nowrap; }
  .presentacion h1 {
    font-size: 65px;
    font-weight: bold;
    text-shadow: #00587a 2px 2px; }
  .presentacion h3 {
    text-shadow: #00587a 2px 2px; }
  @media screen and (max-width: 990px) {
    .presentacion h1 {
      margin-top: 50px;
      font-size: 20px; } }
  @media screen and (max-width: 630px) {
    .presentacion h1 {
      margin-top: 50px;
      font-size: 15px; } }
  .presentacion .btn {
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: #faf9f9;
    border-color: #faf9f9;
    color: #00a8cc; }
  .presentacion .btn:hover {
    background-color: #00a8cc;
    border-color: #00a8cc;
    color: #faf9f9; }

@media screen and (max-width: 400px) {
  .presentacion .btn {
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 10px; } }

@media screen and (max-width: 990px) {
  .carousel {
    padding-top: 50px; } }
