// Colors
$color-white:#faf9f9;
$color-grey:#858282;
$color-light-blue:#58d6ff;
$color-light-blue2:#00a8cc;
$color-black:#142850;
$color-blue:#00587a;

// Fonts
@font-face{
font-family: "Open Sans";
src: url("../fonts/opensans.ttf")
}
$main-font: "Open Sans";