// Colors
$color-white: #faf9f9;
$color-light-blue: #58d6ff;
$color-light-blue2: #00a8cc;
$color-black: #142850;
$color-blue: #00587a;

// Fonts
$main-font: "Open Sans", "Helvetica", "Arial";

// Size
$ancho: 500px;