  .footerLogo{
    height: 80px;
    width: 90px;
  }
  .bg-info{
      background: $color-light-blue2 !important;
    }
  .bg-primary{
    background: $color-light-blue2 !important;
  }
  .text-muted{
    color: $color-white !important;
  }
  .footerNombre{
    color: $color-white;
    font-family: $main-font;
    font-size: 18px;
    margin: 10px 10px 10px 0px;
    }
  .footerTitulo{
    color: $color-white;
    font-family: $main-font;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
  }
  .copy{
    color: $color-white;
    font-family: $main-font;
    font-size: 14px;
    opacity: 0.7;
  }