a:link,a:visited,a:active {
  color: $color-white;
  text-decoration: none;
}
a:hover {
  color: $color-white;
  font-weight: bold;
}
body {
  font-size: 1.1rem;
}
.btn-info {
  background-color: $color-light-blue2;
  border-color: $color-light-blue2;
  color: $color-white;
  margin: 20px 0px 50px 10px;
}
.btn-info:hover{
  background-color: $color-light-blue;
  border-color: $color-light-blue;
  color: $color-white;
}
.card{
  color: $color-light-blue2;
}
.card.body{
  margin: 0px;
  padding: 0px;
}
.custom-switch {
  margin-top: 20px;
}
.custom-control-label {
  padding: 0px;
}
div.form-group{
  margin: 0px 0px 0px 0px;
}
.form-control::placeholder {
  color: #aaa;
  font-size: 0.95rem;
  font-style: italic;
}
form label {
  display: block;
  padding: 10px 10px 10px 0px;
}
html{
  scroll-behavior: smooth;
}
h2 {
  color: $color-light-blue2;
  font-family: $main-font;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
h2.white{
  color: $color-white;
}
@media (max-width: 600px){
  h2 {
    font-size: 30px;
  }
}
main {
  background-color: $color-white;
}
.modal-body{
  color: $color-black;
  font-family: $main-font;
}
.modal-title{
  color: $color-black;
  font-family: $main-font;
}
.nosotrosIcon{
  color: $color-light-blue2;
  font-size: 80px;
}
@media (max-width: 600px){
  .nosotrosIcon{
    font-size: 50px;
  }
}
.lead{
  padding: 10px;
}
@media (max-width: 600px){
  .lead{
    margin: 10px;
    font-size: 18px;
  }
}
@media (max-width: 1200px){
  .lead{
    margin: 10px;
    font-size: 18px;
  }
}
p {
  color: $color-grey;
  font-size: 20px;
  margin: 20px 80px 20px 80px;
  text-align: center;
}
.price {
  color: $color-grey;
  font-size: 20px;
  padding: 0px !important;
  margin: 0px !important;
}
#productos{
  background-image: linear-gradient(rgba($color-light-blue2, 0.7), rgba($color-white, 0.7));
  background-size: cover;
}
section {
  padding-top: 80px;
}
@media (max-width: 600px){
  section{
    padding-top: 60px;
  }
}